* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 55, 67);
  color: wheat;
  /* font-size: 5rem; */
}

button {
  background-color: #af544c;
  padding: 5px;
  margin: 12px;
  border: 2px solid salmon;
  cursor: pointer;
  border-radius: 6px;
}
