* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 55, 67);
  color: wheat;
  /* font-size: 5rem; */
}
