.buttonStyle {
  background-color: palevioletred;
}

.border {
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}
.full-screen {
  width: 100vw;
  height: 100vh;
}
